@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* h1 {
    @apply text-3xl;
    @apply font-bold;
  } */

  h2 {
    @apply text-2xl;
    @apply font-bold;
  }
  h3 {
    @apply text-xl;
    @apply font-bold;
  }
  h4 {
    @apply text-lg;
    @apply font-bold;
  }
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

html {
  color-scheme: light dark;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.css-6hp17o-MuiList-root-MuiMenu-list {
  padding: 0 !important;
}

.sidebar-empty-space {
  height: calc(100vh - 5 * 40px - 178.391px);
}

.image {
  margin-left: auto;
  margin-right: auto;
}

.image-style-block-align-left {
  display: block;
  margin-right: auto;
  margin-left: 0px;
}

.image-style-block-align-right {
  display: block;
  margin-right: 0px;
  margin-left: auto;
}

.image-style-align-right {
  display: inline;
  float: right;
  margin: 1em 0 1em 1em;
}

.image-style-align-left {
  display: inline;
  float: left;
  margin: 1em 1em 1em 0;
}

/* Beam of light background effect */
.bg-custom-animation-1 {
  background: linear-gradient(
    0.25turn,
    rgba(226, 232, 240),
    rgba(226, 232, 240),
    rgba(226, 232, 240),
    rgba(226, 232, 240),
    rgba(226, 232, 240),
    white,
    rgba(226, 232, 240),
    rgba(226, 232, 240),
    rgba(226, 232, 240),
    rgba(226, 232, 240),
    rgba(226, 232, 240)
  );
  background-size: 800% 10%;
  animation: gradient 1.4s linear infinite alternate;
}
/* Beam of light background effect */
.bg-custom-animation {
  animation: animated-bg 60s linear infinite;
}

.table {
  display: table;
}

figure.table {
  margin: 1rem auto !important;
}

figure.table[style] {
  margin: 1rem !important;
}

/* Light mode */
@media (prefers-color-scheme: light) {
  h1,
  h2:not(.except),
  h3,
  h4,
  .icons {
    color: #333 !important;
  }

  html {
    background-color: rgb(241, 245, 249, 1) !important;
  }

  .menu-item-selected {
    background-color: rgb(243, 232, 255) !important;
  }

  .drawer-list-item:hover {
    background-color: rgb(126, 34, 206) !important;
    color: white;
  }

  .drawer-list-item:hover * {
    color: white;
  }
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  a:not(.ck-editor__editable *, .logo),
  h1:not(.ck-editor__editable *),
  h2:not(.ck-editor__editable *, .except),
  h3:not(.ck-editor__editable *),
  h4:not(.ck-editor__editable *),
  label,
  textarea,
  .icons,
  .css-1yuf3k2-MuiPaper-root-MuiPopover-paper-MuiMenu-paper {
    color: rgb(241, 245, 249, 1) !important;
  }

  strong,
  code {
    color: inherit !important;
  }

  html,
  .ck-editor__main * {
    color: inherit;
  }

  .css-1yuf3k2-MuiPaper-root-MuiPopover-paper-MuiMenu-paper {
    background-color: rgb(34, 47, 65) !important;
    border-bottom: 1px solid #777676 !important;
  }

  .css-kt4sq3-MuiButtonBase-root-MuiMenuItem-root {
    border-bottom: 1px solid #777676 !important;
  }

  .toolbarBorder {
    border-top: 1px solid rgb(15, 23, 42, 1) !important;
  }

  .drawer {
    background-color: rgb(51, 65, 85, 1) !important;
    height: 100vh !important;
  }

  .menu-item-selected {
    background-color: rgb(126, 34, 206) !important;
    color: rgb(243, 232, 255) !important;
  }

  .drawer-list-item:hover {
    background-color: rgb(243, 232, 255) !important;
  }

  .drawer-list-item:hover * {
    color: rgb(126, 34, 206) !important;
  }

  .drawerContent {
    color: white;
  }

  .divider {
    background: white;
  }
}

@keyframes gradient {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}

@keyframes animated-bg {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-20%);
  }
}

@media (max-width: 600px) {
  .mobile-logo {
    margin-right: auto !important;
    margin-left: calc(40vw - 48px) !important;
  }
}

@media (min-width: 600px) {
  .mobile-logo {
    margin-right: auto !important;
    margin-left: auto !important;
  }
}
