@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* h1 {
    @apply text-3xl;
    @apply font-bold;
  } */

  h2 {
    @apply text-2xl;
    @apply font-bold;
  }
  h3 {
    @apply text-xl;
    @apply font-bold;
  }
  h4 {
    @apply text-lg;
    @apply font-bold;
  }
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

html {
  color-scheme: light dark;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.css-6hp17o-MuiList-root-MuiMenu-list {
  padding: 0 !important;
}

/* Beam of light background effect */
.bg-custom-animation-1 {
  background: linear-gradient(
    0.25turn,
    rgba(226, 232, 240),
    rgba(226, 232, 240),
    rgba(226, 232, 240),
    rgba(226, 232, 240),
    rgba(226, 232, 240),
    white,
    rgba(226, 232, 240),
    rgba(226, 232, 240),
    rgba(226, 232, 240),
    rgba(226, 232, 240),
    rgba(226, 232, 240)
  );
  background-size: 800% 10%;
  animation: gradient 1.4s linear infinite alternate;
}
/* Beam of light background effect */
.bg-custom-animation {
  animation: animated-bg 60s linear infinite;
}

/* Light mode */
@media (prefers-color-scheme: light) {
  h1,
  h2:not(.except),
  h3,
  h4,
  .icons {
    color: #333 !important;
  }

  .logo {
    color: #721ea3 !important;
  }

  html {
    background-color: rgb(241, 245, 249, 1) !important;
  }
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  strong,
  blockquote,
  a,
  h1,
  h2:not(.except),
  h3,
  h4,
  .icons,
  .css-1yuf3k2-MuiPaper-root-MuiPopover-paper-MuiMenu-paper {
    color: rgb(241, 245, 249, 1) !important;
  }

  .logo {
    color: #e0abff !important;
  }

  html,
  .ck-editor__main * {
    background-color: rgb(2, 6, 23, 1) !important;
    color: rgb(241, 245, 249, 1) !important;
  }

  .css-1yuf3k2-MuiPaper-root-MuiPopover-paper-MuiMenu-paper {
    background-color: rgb(34, 47, 65) !important;
    border-bottom: 1px solid #777676 !important;
  }

  .css-kt4sq3-MuiButtonBase-root-MuiMenuItem-root {
    border-bottom: 1px solid #777676 !important;
  }

  .toolbarBorder {
    border-top: 1px solid rgb(15, 23, 42, 1) !important;
  }
}

@keyframes gradient {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}

@keyframes animated-bg {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-20%);
  }
}
